.DS_Store
Thumbs.db


/doxygen
/html
/latex


pdo.php
index.html


slim-chat.com/node_modules
slim-chat.com/public/storage
slim-chat.com/storage/*.key
slim-chat.com/vendor
slim-chat.com/.idea
slim-chat.com/Homestead.json
slim-chat.com/Homestead.yaml
slim-chat.com/bootstrap/compiled.php
slim-chat.com/.env.*
slim-chat.com/.env


slim-thread.com/node_modules
slim-thread.com/public/storage
slim-thread.com/storage/*.key
slim-thread.com/vendor
slim-thread.com/.idea
slim-thread.com/Homestead.json
slim-thread.com/Homestead.yaml
slim-thread.com/bootstrap/compiled.php
slim-thread.com/.env.*
slim-thread.com/.env
